@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 4.5rem;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    background-color: #fafafa;
}

.site_wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -84px;
}

.site_wrapper::after {
    content: "";
    height: 30px;
    display: block;
}

.toast {
    font-size: 0.85rem;
}


.align-right {
    text-align: right;
}