.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 240px;
}

.buttons {
    width: 240px;
    display: flex;
    justify-content: space-between;
}