

  <div class="wrapper">
    <h1>FULLSTACK EXERCISE BY GUY SHIRAY</h1>


    <div>
      <button routerLink="/networks" mat-raised-button color="primary">to networks page</button>
    </div>
  </div>
