<app-add-item (click)="openNetworkDialog()"></app-add-item>

<div class="container">
  <app-network *ngFor="let network of networks$ | async" [network]="network"
    [isExpended]="network.id === (selectedNetworkId$ | async)" 
    (selected)="onNetworkSelect(network.id)"
    (deselected)="onNetworkDeselect()"
    (editClicked)="openEditNetworkDialog(network)"
    (deleteClicked)="deleteNetwork(network.id)"
    >
  </app-network>
</div>