form {
    display: flex;
    flex-direction: column;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.actions-container {
    display: flex;
    justify-content: flex-end;
}

form {
    display: flex;
    height: 198px;
    flex-direction: column;
    justify-content: space-between;
}